DB_URL=jdbc:sqlserver://localhost:1435;databaseName=flower_shop;encrypt=true;trustServerCertificate=true;sendStringParametersAsUnicode=true
DB_USERNAME=sa
DB_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=
MAIL_USERNAME=nv80804@gmail.com
MAIL_PASSWORD=

MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=flower-shop

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

GHN_API_URL=https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee
GHN_TOKEN=
GHN_SHOP_ID=
GHN_FROM_DISTRICT_ID=

SEPAY_WEBHOOK_SECRET=

JWT_SECRET=
JWT_EXPIRATION=7200000

# Discord Webhooks
DISCORD_WEBHOOK_CONTACT=
DISCORD_WEBHOOK_CUSTOM_ORDER=
